{% extends "base.html" %}
{% block title %}{{ flatpage.title }} | Web and programming solutions{% endblock title %}
{% block meta-title %}{{ flatpage.title }} | Web and programming solutions{% endblock meta-title %}
{% block content %}
	<div class="span-16">
		<div class="content">
			<div class="post ">
				<h2 class="post_header" id="post-1">
					<span class="post-title">{{ flatpage.title }}</span>
				</h2>
				<div class="clear"></div>
				<div class="post_content">
					{{ flatpage.content|safe }}
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
{% endblock %}